	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:indigo;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav">
			<a class="nav-item nav-link" href="home.html">Home </a>
			<a class="nav-item nav-link active" href="about.html">About Me<span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="cats.html">My Cats</a>
			<a class="nav-item nav-link" href="contact.html">Contact</a>
		  </div>
		</div>
		<span class = "navbar-text">Pamela Yin</span>
	</nav>

	<div class="container">
		<div class="col-lg-12 col-sm-6">
			<h1>About Me</h1>
			<hr class="my-2">
			<p>Hi there, My name is Pamela.</p>
			<p>This is my first website I'm creating in my CS journey. I know this may not look fancy and professional,
				but thanks for visiting and reading through. If you have suggestions how to make this better, 
				don't hesitate to send me email on the contact page. 
			</p>

			<p>I'm located in sunny San Diego, California, with miles of beaches and lots of taco shops and breweries around.
				I earned my first bachelor's degree in University of California, San Diego as chemistry major.
				I always had an interest in programming, taking a few IT courses during my college years. 
				In 2018, I finally decided to commit myself to learning computer science seriously.
				I got accepted to Oregon State University's online post-bacc computer science program in spring 2018 
				and have been working full-time as chemist by day and part-time college student by night.
			</p>
			<p>Here are the courses I've taken so far at OSU:
				<ul class="list" style="list-style-type: none;">
					<li class="list-item">CS 161 - Intro to Computer Science I</li>
					<li class="list-item">CS 162 - Intro to Computer Science II</li>
					<li class="list-item">CS 225 - Discrete Structures in Computer Science</li>
					<li class="list-item" style="font-style:italic; color:gray;">CS 261 - Data Structures (In Progress)</li>
					<li class="list-item" style="font-style:italic; color:gray;">CS 290 - Web Development (In Progress)</li>
				</ul>
			</p>
			<p>I'd love to have more exposure in different aspects of this field. I'm open to career opportunities as 
				software engineer. If you are interested in hiring me, please download my full resume below.
			</p>
			<p>
				<a class="btn btn-outline-dark" href="resume.docx" role="button">Download Resume <i class="fas fa-download fa-2x"></i></a>
			</p>
		</div>
	</div>
